*{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}

.l_main{
    margin: 0 auto;
    width: 960px
}

body {
    font-size: .625em;
    background: #D9E4FA;
    font-family: Arial, Helvetica, sans-serif;
}

.header_left{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 500%;
    height: 60px;
}

.content{
    width: 780px;
    color: #EEEEEE;
    height: 300px;
    border: 5px solid #CBC2AE;
    background-color: #888888;
}

